<% provide(:title, "About") %>
<p>
This is a sample app I am using to learn Ruby on Rails.
</p>
<p>
Initially this was based purely off Michael Hartl's book [<a class='link' href='https://www.railstutorial.org/'>Learn Web Development with Rails</a>] but has since expanded as I practice new
components, such as background jobs and implementing additional functionality (ie favouriting).
</p>
<p>
It's not much, but it (hopefully) works! </p>
