<html>
  <head>
    <title>New Account</title>
    <meta charset="utf-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	  <%= stylesheet_link_tag "global" %>
	  <%= stylesheet_link_tag "form" %>
	  <%= stylesheet_link_tag "messagebox" %>
  </head>

    <body>
        <h1 class='banner-title'>Add Account</h1>

		<div class='root'>
			<%= render 'form' %>
		</div>
    </body>
</html>