<div class='header-container'>
    <p class='link header-item'><%= link_to "Home", root_path %></p>
    <p class='link header-item'><%= link_to "About", about_path %></p>
    <p class='link header-item'><%= link_to "Help", help_path %></p>
    <p class='link header-item'><%= link_to "Login", '#' %></p>
</div>