<div class='card'>
		<%= gravatar_for account.email, size: 50 %>
		<%= link_to account.display_name, account, class: 'title' %>
		<% if current_account.admin? && !current_account?(account) %>
		-	<%= link_to "Delete", account, method: :delete,
										   data: { confirm: "Are you sure?" },
										   class: 'text-content'%>
		<% end %>
</div>