<html>
  <head>
    <title>View Campaign</title>
    <meta charset="utf-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	  <%= stylesheet_link_tag "global" %>
      </head>

    <body>
		<div class='header-container'>
			<p class='link header-item'>
				<%= link_to 'Account', articles_path %>
			</p>
		</div>
    </body>
</html>