<% provide(:title, 'Edit Account') %>
<% provide(:button_text, 'Save Changes') %>

<div class='root'>
<div class='card'>
	<%= render 'form' %>
	<div class="gravatar_edit">
		<%= gravatar_for @account.email %>
		<a href="http://gravatar.com/emails" target="_blank">Change</a>
	</div>

</div>
</div>
