<% provide(:title, 'All Accounts') %>

<div class='body'>
	<% @accounts.each do |account| %>
		<div class='card'>
			<%= gravatar_for account.email, size: 50 %>
			<%= link_to account.display_name, account, class: 'title' %>
		</div>
	<% end %>
</div>