<html>
	<head>
    <title>Login</title>
    <meta charset="utf-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	  <%= stylesheet_link_tag "global" %>
	  <%= stylesheet_link_tag "login" %>
	  <%= stylesheet_link_tag "messagebox" %>
	</head>
  <body>
    <h1 class='banner-title'>Login</h1>

    <form id='login-form'>

        <input type='text' placeholder='Username' name='username'></input>

      <img src='resources/loading.svg' class='loading hidden' alt='Loading...'/>
      <p class='link'>
		egg
	  </p>
	  <p class='link'>
		<%= link_to 'Create Account', new_account_path %>
	  </p>
    </form>


  </body>
</html>