<h1 class="banner-title">Dungeons</h1>
<p>Hi <%= @account.display_name %>, </p>

<p>
  Welcome to this app! Click the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@account.activation_token, email: @account.email) %>