	<% link_to gravatar_for(current_account.email, size: 50), current_account %>
	<h2><%= current_account.display_name %></h2>
	<%= link_to "View my profile", current_account, class: 'subtle-link inline' %>
	<p class='subtle-text inline'> - <%= pluralize(current_account.microposts.count, "Micropost") %></p>
