<% if @account.errors.any? %>
    <h2 class='danger-msg'>
        The form could not be saved due to the following <%= pluralize(@account.errors.count, "error") %>
    </h2>
    <% @account.errors.full_messages.each do |msg| %>
        <div class='danger-box'>
            <p class='danger-msg'><%= msg %></p>
         </div>
    <% end %>
<% end %>