/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-May-2019, 16:29:23
    Author     : Anthony
*/
.aside-container {
    top: 9px;
    right: 7.5%;
    padding: 10px;
    float: right;
    position: sticky;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    margin: 1rem auto;
    border-radius: 10px;
}

.stat {
    display: inline-block;
    padding: 0 25px;
    opacity: 1;
    font-size: 17px;
}