/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-May-2019, 13:22:05
    Author     : Anthony
*/
@import url('https://fonts.googleapis.com/css?family=Exo:200');

* {
    box-sizing: border-box
}


.banner-title, .title, .text-content, .link {
    text-align: center;
    font-family: 'Exo', sans-serif;
    display: block;
}

.title {
    font-weight: bold;
    font-size: 25px;    
}

.text-content {
    font-size: 20px;
}

.banner-title {
    font-size:90px;
}

.link {
    font-size: 25px;
    text-decoration: none;
    opacity: 0.5;
    display: inline;
}

.link:hover {
    text-decoration: underline;
    opacity: 1.0;
}

.loading {
    display: block;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.button {
    width: 80%;
    font-size: 1.3rem;
}

.header-container {
    width: 99%;
    margin: 5px auto;
    padding: 3px;
    text-align: center;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 10px;
    background-color: ghostwhite;
}

.header-item {
    font-size: 34px;
    display: inline;
    margin: 0 5%;
}

