/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Jun-2019, 11:57:51
    Author     : davie
*/
/* h1 = banner
   h2 = title
   a = link
   p = text
*/
h1, h2, a, p, label, .subtle-link, .subtle-text {
    text-align: center;
    font-family: 'Exo', sans-serif;
    display: block;
}

h1, h2, label {
     color: #730E15;
}

h1 {
    font-size: 90px;
}

h2 {
    font-weight: bold;
    font-size: 25px;  
    margin: 10px;  
}

p, label {
    font-size: 20px;
}

.subtle-link {
    font-size: 17px;
    text-decoration: none;
    opacity: 1;
}

.subtle-text {
    font-size: 15px;
}

a {
    font-size: 25px;
    text-decoration: none;
    opacity: 0.5;
    display: inline;
}

a:hover {
    text-decoration: underline;
    opacity: 1.0;
}

a:link, a:visited, a:hover {
    color: #730E15;
}

a:active { 
  color:burlywood;
}