/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-May-2019, 19:42:28
    Author     : Anthony
*/

.success-box, .info-box, .warning-box, .danger-box {
    border-style: solid;
    border-width: 2px;
    width: auto;
    margin: 0.25rem auto;
    padding: 0.25rem;
    text-align: center;
}

.success-msg, .info-msg, .warning-msg, .danger-msg {
    margin: 0px;
    font-size: 1.2rem;
}

.success-box {
    background-color: #61f49f;
    border-color: #47b274;
}

.success-msg {
    color: #00a846;
}

.info-box {
    background-color: #97befc;
    border-color: #4f73ad;
}
.info-msg {
    color: #35507a;
}

.warning-box {
    background-color: #f0f99f;
    border-color: #daea46;
}
.warning-msg {
    color: #757c33;
}

.danger-box {
    background-color: #ffaaaa;
    border-color: #ff4242;
}
.danger-msg {
    color: #aa0000;
}
