<div class='center w-20-ns w50 mv1'>
	<ul class='list'>
		
		<li><%= gravatar_for account.email, size: 3 %></li>
		<li><%= link_to account.display_name, account, class: 'primary f4 link-hover-underline' %></li>
		
		<li><% if current_account.admin? && !current_account?(account) %>
			<%= link_to "Delete", account, method: :delete,
										   data: { confirm: "Are you sure?" },
										   class: 'secondary link-hover-underline'%></li>
		<% end %>
	</ul>
</div>
