<% provide(:title, 'Edit Account') %>
<% provide(:button_text, 'Save Changes') %>



<%= render 'form' %>
<div class="gravatar_edit">
	<%= gravatar_for @account.email %>
	<a href="http://gravatar.com/emails" target="_blank">Change</a>
</div>
