<% provide(:title, 'Edit Account') %>
<% provide(:button_text, 'Save Changes') %>



<%= render 'form' %>

<%= gravatar_for @account.email, size: 3 %>
<a href="http://gravatar.com/emails" class='primary link-hover-underline'>Change</a>
