<% provide(:title, @title) %>
<div class='aside-container'>
    <%= render 'shared/account_info' %>

    <%= render 'shared/stats'%>
</div>

<div class='sticky-form'>
    <% if @posts.any? %>
        <%= render @posts %>
        </div>
        <%= will_paginate @posts %>
    <% else %>
        </div>
    <% end %>
