<% provide(:title, @title) %>
<div class='pa1 right-2 w-25 fixed top-10'>
    <%= render 'shared/account_info' %>

    <%= render 'shared/stats'%>
</div>

<div class='w-80 flex-wrap justify-around items-stretch flex-ns mt5'>
    <% if @posts.any? %>
        <%= render @posts %>
        </div>
        <%= will_paginate @posts %>
    <% else %>
        </div>
    <% end %>
